*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face
{
	font-family: 'Poppins-Black';
	src:url("../fonts/Poppins-Black.ttf") format('truetype');
}
@font-face
{
	font-family: 'Poppins-Bold';
	src:url("../fonts/Poppins-Bold.ttf") format('truetype');
}
@font-face
{
	font-family: 'Poppins-ExtraLight';
	src:url("../fonts/Poppins-ExtraLight.ttf") format('truetype');
}
.section1
{
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.2);
	box-sizing: border-box;
}
.section1 h3
{
	font: 30px 'Poppins-Bold';
	color: #1a1a1a;
	text-transform: uppercase;
}
a
{
	text-decoration: none;
}
.grid
{
	position: relative;
	width: 70%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 5px;
	grid-auto-flow: dense;
	margin: 1% auto;
}
.grid img
{
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.section2
{
	position: relative;
	height: 100%;
	width: 100%;
}
.section2 h1
{
	position: relative;
	height: auto;
	width: 500px;
	left: 50%;
	transform: translate(-50%);
	margin: 5% 0 2% 0;
	text-align: center;
	font-size: 2.8em;
	font-weight: 650;
	letter-spacing: 1.5px;
	color: #017bf5;
	border-left: 5px solid #017bf5;
	border-right: 5px solid #017bf5;
	background: rgba(0,0,0,0.05);
}
.section2 p
{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 1px;
	color: #777;
}
.section2 .gallery
{
	position: relative;
	height: auto;
	width: 90%;
	margin: auto;
	padding: 45px 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2vh;
	grid-auto-flow: dense;
}
.section2 .gallery .img
{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.9);
	border-radius: 2px;
}
.section2 .gallery .img:first-child
{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.section2 .gallery .img:nth-child(2n+3)
{
	grid-row-start: span 2;
}
.section2 .gallery .img:nth-child(4n+5)
{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.section2 .gallery .img:nth-child(6n+7)
{
	grid-row-start: span 1;
}
.section2 .gallery .img:nth-child(8n+9)
{
	grid-column-start: span 1;
	grid-row-start: span 1;
}
.section2 .gallery .img img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.5) grayscale(100);
	transition: 0.3s ease-in-out;
}
.section2 .gallery .img:hover img
{
	filter: brightness(1) grayscale(0);
}
.section3
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins-ExtraLight', sans-serif;
	background: #333;
}
.oq
{
	margin-top: 30px;
}
.oq h2
{
	display: block;
	font: 30px 'Poppins-ExtraLight';
	color: #1b1818;
	margin-top: 50px;
	text-transform: uppercase;
	
}
.con
{
	width: 1200px;
	margin: 20px auto;
	columns: 4;
	column-gap: 40px;
}
.section3 h1
{
	margin: 10px;
	padding: 10px;
	color: #fff;
	font: 25px 'Poppins-Black';
	text-transform: uppercase;
	text-align: center;
	

}
.con .box
{
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	background: #fff;
	overflow: hidden;
	break-inside: avoid; 
}

.con .box img
{
	max-width: 100%;
}
.con .box h2
{
	margin: 10px 0 0;
	padding: 0;
	font: 20px 'Poppins-Black';
}
.con .box p
{
	margin: 0;
	padding: 0 0 10px;
	font: 16px 'Poppins-ExtraLight';
}
.section4
{
	width: 100%;
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.section4 .block
{
	position: relative;
	max-width: 1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
.section4 .block .ras
{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 100px 0;
}
.section4 .block .ras:nth-child(odd)
{
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.section4 .block .ras:nth-child(even)
{
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	text-align: right;
	
}
.section4 .block .ras .imgBx
{
	position: relative;
	left: 25px;
	width: 500px;
	height: 400px;
	z-index: 1;
}
.section4 .block .ras:nth-child(even) .imgBx
{
   left: -25px;
}
.section4 .block .ras .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section4 .block .ras .contentBx
{
	position: relative;
	right: 25px;
	width: 500px;
	height: 400px;
	background: #000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 20px 60px 20px 100px;
}
.section4 .block .ras:nth-child(even) .contentBx
{
   right: -25px;
   padding: 20px 100px 20px 60px;
}
.section4 .block .ras .contentBx:before
{
	content: '';
	position: absolute;
	top: -50px;
	bottom: -50px;
	left: 0;
	right: 0;
	background: #000;
	z-index: -1;
}
.section4 .block .ras .contentBx h2
{
	font: 30px 'Poppins-Black';
	color: #fff;
}
.section4 .block .ras .contentBx p
{
	margin-top: 10px;
	color: #fff;
}
.section4 .block .ras .contentBx a
{
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #fff;
}
.section5 .container
{
	margin-top: 8%;
}
.section5 .inner
{
	overflow: hidden;
}
.section5 .inner img
{
	transition: all 1.5s ease;
}
.section5 .inner:hover img
{
	transform: scale(1.5);
}

 .overlay { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.9); overflow-x: hidden; transition: 0.5s; } .overlay-content { position: relative; top: 25%; width: 100%; text-align: center; margin-top: 30px; } .overlay a { padding: 8px; text-decoration: none; font-size: 36px; color: #818181; display: block; transition: 0.3s; } .overlay a:hover, .overlay a:focus { color: #f1f1f1; } .overlay .closebtn { position: absolute; top: 20px; right: 45px; font-size: 60px; } 
  @media screen and (max-height:450px){ .overlay a {font-size: 20px} .overlay .closebtn { font-size: 40px; top: 15px; right: 35px; } } 
  input[type=text], input[type=password] { width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; } button { background-color: #48d1cc; color: white; padding: 10px 15px; margin: 8px 0; border: none; cursor: pointer; width: 100%; position:relative;  top: 0; right: 0; } .cancelbtn { width: auto; padding: 10px 18px; background-color: #4682b4; }  .imgcontainer { text-align: center; margin: 24px 0 12px 0; position: relative; } img.avatar { width: 40%; border-radius: 50%; } .container { padding: 16px; } span.psw { float: right; padding-top: 16px; }  .modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); padding-top: 60px; } .modal-content { background-color: #fefefe; margin: 5% auto 15% auto; border: 1px solid #888; width: 80%; }  .close { position: absolute; right: 25px; top: 0; color: #000; font-size: 35px; font-weight: bold; } .close:hover, .close:focus { color: red; cursor: pointer; }  .animate { -webkit-animation: animatezoom 0.6s; animation: animatezoom 0.6s } @-webkit-keyframes animatezoom { from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)} } @keyframes animatezoom { from {transform: scale(0)} to {transform: scale(1)} }  @media screen and(max-width: 300px){ span.psw { display: block; float: none; } .cancelbtn { width: 100%; } } 

header
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header .menyu
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
header .menyu .sa1
{
	margin-top: 10px;
	margin-right: 20px;
}
header .menyu .sa
{
	margin-left: 20px;
}
header .menyu .sa2 h2
{
  text-transform: uppercase;
  color:#5368c0;
  font: 30px 'Poppins-Black';
  margin-top: 10px;
}
.section5 h2
{
	color: #5368c0;
	font: 30px 'Poppins-Black';
	margin-bottom: 20px;
}


    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

    }
    #il
    {
    	font: 30px 'Poppins-Bold';
	color: #1a1a1a;
	text-transform: uppercase;
	margin-top: 20px;
    }
.section8
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #262626;
}
 .testimonials
 {
 	margin: 20px;
 	display: grid;
 	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 	grid-gap: 20px;
 }
 .testimonials .ja
 {
 	position: relative;
 	width: 350px;
 	margin: 0 auto;
 	background: #333;
 	padding: 20px;
 	box-sizing: border-box;
 	text-align: center;
 	box-shadow: 0 10px 40px rgba(0,0,0,.5);
 	overflow: hidden;
 }
 .testimonials .ja .layer
 {
 	position: absolute;
 	top: calc(100% - 2px);
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: linear-gradient(#03a9f4, #e91ee3); 
 	z-index: 1;
 	transition: 0.5s;
 }
 .testimonials .ja:hover .layer
 {
 	top: 0;
 }
 .testimonials .ja .content
 {
 	position: relative;
 	z-index: 2;
 }
  .testimonials .ja .content p
  {
  	font-size: 18px;
  	line-height: 24px;
  	color: #fff;
  }
  .testimonials .ja .content .image
  {
  	width: 100px;
  	height: 100px;
  	margin: 0 auto;
  	border-radius: 50%;
  	overflow: hidden;
  	border: 4px solid #fff;
  	box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
  .testimonials .ja .content .details h2
  {
        font-size: 18px;
        color: #fff;
  }
   .testimonials .ja .content .details h2 span
  {
        font-size: 14px;
        color: #03a9f4;
        transition: 0.5s;
  }
  .testimonials .ja:hover .content .details h2 span
  {
      color: #fff;
  }
  .ka h3
  {
  	font: 30px 'Poppins-Bold';
	color: #ffffff;
	text-transform: uppercase;
  }
  .section8 h2
  {
    font: 30px 'Poppins-Bold';
	color: #ffffff;
	text-transform: uppercase;	
  }
   .section3 form
{
	width: 300px;
	margin: 0 auto;
}
   .section2 form
{
	width: 300px;
	margin: 0 auto;
}
   .section8 form
{
	width: 300px;
	margin: 0 auto;
}
.section5 form
{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.uk form
{
	width: 300px;
	margin: 0 auto;
}
footer
{
	background: #333;
}
footer .ka
{
	margin: 0 auto;
	width: 350px;
}
.ka i
{
	color: #fff;
	font-size: 2rem;
	margin: 15px;
}
@media only screen and (max-width: 1000px)
{
	.section4 .block .ras
	{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		max-width: 350px;
		margin: 25px 25px;
	}

	.section4 .block .ras .imgBx
	{
		width: 100%;
		height: 250px;
		left: 0;
	}
	.section4 .block .ras .contentBx
	{
		width: 100%;
		height: auto;
		right: 0;
		padding: 30px;
		text-align: center;
		
	}
	.section4 .block .ras .contentBx:before
	{
		top: 0;
		bottom: 0;
	}
	.section4 .block .ras:nth-child(even) .imgBx
{
   left: 0px;
}
.section4 .block .ras:nth-child(even) .contentBx
{
   right: 0px;
   padding: 30px;
}
}

@media only screen and (max-width: 1200px)
{
	.con
{
	
	columns: 3;
	width: calc(100% - 40px);
	box-sizing: border-box;
	padding: 20px 20px 20px 0;
}
}
@media only screen and (max-width: 480px)
{
	.con
{
	columns: 1 !important;
	width: calc(100% - 40px);
	box-sizing: border-box;
	padding: 20px;
	
	
}

}


@media only screen and (max-width: 768px)
{
	 .section8 h2
  {
    font: 20px 'Poppins-Bold';
	color: #ffffff;
	text-transform: uppercase;	
  }
	.ka h3
  {
  	font: 20px 'Poppins-Bold';
	color: #ffffff;
	text-transform: uppercase;
  }
	 #il
    {
    	font: 20px 'Poppins-Bold';
	color: #1a1a1a;
	text-transform: uppercase;
    }
	.section1 h3
{
	font: 20px 'Poppins-Bold';
	color: #1a1a1a;
	text-transform: uppercase;
}
	.oq h2
{
	display: block;
	font: 20px 'Poppins-ExtraLight';
	color: #1b1818;
	margin-top: 30px;
	text-transform: uppercase;
	
}
	.section5 h2
{
	color: #5368c0;
	font: 20px 'Poppins-Black';
	margin-bottom: 20px;
}
header .menyu .sa2 h2
{
  text-transform: uppercase;
  color:#5368c0;
  font: 20px 'Poppins-Black';
  margin-top: 10px;
}
	.ka i
{
	color: #fff;
	font-size: 1rem;
	margin: 15px;
}
		.con
{
	
	columns: 2;
}
	.section2 h1
{
	
	font-size: 1.8em;
	width: 400px;
	
}
	.section2 p
{
	
	font-size: 1.2em;
	
}

	.section2 .gallery
	{
		display: grid;
	   grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 430px)
{
	.section2 h1
{
	
	font-size: 1.2em;
	width: 300px;
	
}
	.section2 p
{
	
	font-size: 0.89em;
	
}

	.section2 .gallery
	{
		display: block;
	}
	.section2 .gallery .img
	{
		display: block;
		width: 100%;
		height: 100%;
		margin: 2% 0;
	}
	.section2 .gallery .img img
	{
		display: block;
		filter: brightness(1) grayscale(0);
	}
}